body {
  font-family: Arial;
  margin: 0;
  background: #f2f2f2;
}

/* Navbar */
.navbar {
  background: #111;
  color: white;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

.navbar a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

/* Hero */
.hero {
  text-align: center;
  padding: 60px;
  background: #333;
  color: white;
}

/* Section */
.section {
  padding: 40px;
  text-align: center;
}

/* Produk */
.menu {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: white;
  padding: 20px;
  width: 200px;
  border-radius: 10px;
}

.card img {
  width: 100%;
  border-radius: 8px;
}

/* Footer */
footer {
  background: #111;
  color: white;
  text-align: center;
  padding: 15px;
}
